<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="homework_styles.css">
</head>
<title>HTML Homework</title>
<body>
  <header>
    <h1>Welcome to my about page</h1>
  </header>
  <nav>
    <%= link_to 'Home', root_path %>
  </nav>
  
  <div id="banner">
   &nbsp;
  </div>

</body>
</html>