header {
    background-color:white;
    color:#0074D9;
    text-align:center;
    padding:5px; 
    font-family:verdana;
}

#banner {
  background-image: url("banner.jpg");
  height: 200px;
  margin: 20px;
}

table {
  margin: 20px;
  border-color: black;
  border-top: solid;
  padding: 10px;
}

table td:first-child {
  border-right: solid;
}